@use "sass:color";
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$base: hsl(0, 0%, 100%);
$color1: hsl(0, 0%, 0%);
$color2: hsl(184, 96%, 45%);
$bold: 700;
$medium: 450;
$h1size: 2rem;
$size2: 1.75rem;
$size3: 1.45rem;
$size4: 1rem;
$medium-size: 768px;

/* $theme-colors: ( "primary": #fabada // pon el código de color que prefieras
); */